.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem;

  .contentTopContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    margin-left: 2rem;
    div {
      width: 50%;
    }
  }

  .contentItemContainer {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .contentItemInnerContainer {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center; /* Center align items horizontally */
      width: 45%;

      div {
        width: 100%;
        display: flex;
        justify-content: center; /* Center content horizontally */
        align-items: center;
        text-align: center; /* Center text within div */
      }
    }
  }
}

.headerText {
  font-size: 2.7vw;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.headerTopText {
  word-break: break-word;
  max-width: 40rem;
}

.headerSubText {
  font-size: 1.1vw;
  font-weight: 300;
  word-break: break-word;
  max-width: 35rem;
}
