.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 45%;
    border-bottom: 1px solid black;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;

    .header-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 4.5rem;
        height: 4.5rem;
      }

      .header-logo-text {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 1rem;
      }
    }
  }

  .content-container {
    display: flex;
    margin-top: 10vh;

    .side-bar-container {
      width: 5vw;
      height: 90vh;
      border-right: 1px solid black;
      padding: 1rem;
      position: fixed;
      top: 10vh;
      left: 0;
      background-color: white;
      transition: width 0.3s ease;
      max-width: 15vw;
      z-index: 9999;

      &:hover {
        width: 15vw;
      }

      .sideBarItem {
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        position: relative;
        transition: background-color 1s ease;
        border-radius: 1rem;
        width: 100%;

        img {
          width: 2rem;
          height: 2rem;
        }

        .iconLabel {
          margin-left: 1rem;
          font-size: 1rem;
          display: none;
          white-space: nowrap;
        }
      }

      &:hover {
        .sideBarItem {
          .iconLabel {
            display: inline-block;
          }
        }
      }


      .gameIcon {
        &:hover {
          background-color: #FFE400;
        }

        transition: background-color 1s ease;
      }

      .faqIcon {
        &:hover {
          background-color: #00FF99;
        }

        transition: background-color 1s ease;
      }

      .spamDetectorIcon {
        &:hover {
          background-color: #FF885F;
        }

        transition: background-color 1s ease;
      }
    }

    .main-content-container {
      margin-left: 5vw;
      width: calc(100% - 5vw);
      padding: 1rem;
      min-height: 90vh;
      transition: margin-left 0.3s ease, width 0.3s ease;

      .side-bar-container:hover + & {
        margin-left: 15vw;
        width: calc(100% - 15vw);
      }
    }
  }
}
